@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* RESET */
*{
    box-sizing: border-box;
}

/* CUSTOM VARIABLES */
:root {
    --clr-aqua: #00e4cb;
    --clr-black: #131017;
    --clr-white: white;
    --clr-grey: #302d33;

    --fs-sm: 0.75rem;
    --fs-md: 1rem;
    --fs-lg: 1.15rem;
    --fs-xl: 1.35rem;
    --fs-xxl: 2rem;
}

/* BASIC STYLES */
body{
    background: linear-gradient(#050505, #18181d);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #0a0a0b;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    font: inherit;
    color: white;
}

i{
    color: white;
    cursor: pointer;
    font: inherit;
}

button {
    display: block;
    background: transparent;
    border: none;
    outline: none;
}

input {
    font: inherit;
    outline: none;
    border: none;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* GENERAL CLASSES */
.separator {
    height: 1px;
    background-color: var(--clr-grey);
    margin-block: 1.5em;
}

/* CLASS STYLES */
.container{
    display: grid;
    grid-template-columns: 300px auto;
}

.sidebar {
    height: 100vh;
    background-color: var(--clr-black);
    padding: 20px 36px;
    transition: all 0.6s ease;
}

.logo {
    font-weight: bold;
    font-size: var(--fs-xl);
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1.25em;
    margin-bottom: 1.75em;
}

.logo i {
    color: var(--clr-aqua);
    font-size: 50px;
}

.logo-name {
    transition: all 250ms ease-in-out;
}

.logo-name:hover {
    color: var(--clr-aqua);
}

.menu {
    margin-top: 5em;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
}

.menu-list li {
    font-size: var(--fs-lg);
    display: flex;
    align-items: center;
    gap: 1em;
}

.menu-list li i {
    color: var(--clr-aqua);
    font-size: 30px;
}

.menu-list li a {
    font-weight: bold;
    transition: color 250ms ease-in-out;
}

.menu-list li a:hover {
    font-weight: bold;
    color: var(--clr-aqua);
}

.main {
    background-color: black;
    padding: 1em;
    padding-top: 0.5em;
}

.main-navbar {
    display: flex;
    margin: 5px;
    align-items: center;
    gap: 5rem;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.profile-picture:hover {
    opacity: 0.75;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-bar {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0.5em;
    background-color: var(--clr-black);
    padding: 0.25em 0.75em;
    border-radius: 0.5rem;
    flex: 1;
    font-size: var(--fs-lg);
}

.search-input {
    margin: 0.5em;
    background: var(--clr-black);
    width: 100%;
}

.main-content {
    display: grid;
    grid-template-columns: auto 300px;
}

.song-container {
    margin-top: 2em;
    margin-right: 1.5em;
    font-size: var(--fs-lg);
    font-family: "Inter", sans-serif;
}

.song-list {
    padding: 1em;
}

.song-item {
    display: grid;
    grid-template-columns: 25px 50px 200px 150px 50px 100px;
    gap: 3em;
    margin-bottom: 1.75em;
    font-size: var(--fs-md);
    align-items: center;
    justify-items: start;
}

/* .song-item > * {
    background-color: yellow;
} */

.song-image-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    object-fit: cover;
    flex-shrink: 0;
}

.song-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.song-author {
    font-weight: bold;
}

.song-like-btn {
    font-size: 35px;
    margin-left: 30px;
}

.song-play-btn {
    font-size: 35px;
    justify-self: end;
}

.song-play-btn i {
    transition: color 250ms ease-in-out;
    display: flex;
    justify-content: end;
}

.song-play-btn i:hover {
    color: var(--clr-aqua);
}

/* AZIEL EDIT HERE ONLY */
.song-player {
    background-color: var(--clr-black);
}
/* AZIEL EDIT HERE ONLY */