@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* RESET */
*{
    box-sizing: border-box;
}

/* CUSTOM VARIABLES */
:root {
    --clr-aqua: #00e4cb;
    --clr-black: #131017;
    --clr-white: white;
    --clr-grey: #302d33;

    --fs-sm: 0.75rem;
    --fs-md: 1rem;
    --fs-lg: 1.15rem;
    --fs-xl: 1.35rem;
    --fs-xxl: 2rem;
}

/* BASIC STYLES */
body{
    background: linear-gradient(#050505, #18181d);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #0a0a0b;
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    font: inherit;
    color: white;
}

i{
    color: white;
    cursor: pointer;
    font: inherit;
}

button {
    display: block;
    background: transparent;
    border: none;
    outline: none;
}

input {
    font: inherit;
    outline: none;
    border: none;
    color: white;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

/* GENERAL CLASSES */
.separator {
    height: 1px;
    background-color: var(--clr-grey);
    margin-block: 1.5em;
}

/* CLASS STYLES */
.container{
    display: grid;
    grid-template-columns: 300px auto;
}

.sidebar {
    height: 100vh;
    background-color: var(--clr-black);
    padding: 20px 36px;
    transition: all 0.6s ease;
}

.logo {
    font-weight: bold;
    font-size: var(--fs-xl);
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 1.25em;
    margin-bottom: 1.75em;
}


.logo i {
    color: var(--clr-aqua);
    font-size: 50px;
}

.logo-name {
    transition: all 250ms ease-in-out;
}

.logo-name:hover {
    color: var(--clr-aqua);
}

.menu {
    margin-top: 5em;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: start;
}

.menu-list li {
    font-size: var(--fs-lg);
    display: flex;
    align-items: center;
    gap: 1em;
}

.menu-list li i {
    color: var(--clr-aqua);
    font-size: 30px;
}

.menu-list li a {
    font-weight: bold;
    transition: color 250ms ease-in-out;
}

.menu-list li a:hover {
    font-weight: bold;
    color: var(--clr-aqua);
}

.main {
    background-color: black;
    padding: 1em;
    padding-top: 0.5em;
}

.main-navbar {
    display: flex;
    margin: 5px;
    align-items: center;
    gap: 5rem;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: 30px;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

.profile-picture:hover {
    opacity: 0.75;
}

.profile-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-bar {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 0.5em;
    background-color: var(--clr-black);
    padding: 0.25em 0.75em;
    border-radius: 0.5rem;
    flex: 1;
    font-size: var(--fs-lg);
}

.search-input {
    margin: 0.5em;
    background: var(--clr-black);
    width: 100%;
}

.song-container {
    margin-top: 2em;
    font-size: var(--fs-lg);
    font-family: "Inter", sans-serif;
}

.song-list {
    padding: 1em;
}

.song-item {
    display: grid;
    grid-template-columns: 25px 50px 200px 150px 50px 50px;
    gap: 3em;
    margin-bottom: 1.75em;
    font-size: var(--fs-md);
    align-items: center;
    justify-items: start;
    justify-content: start;
}

.song-image-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    object-fit: cover;
    flex-shrink: 0;
}

.song-image-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.song-author {
    font-weight: bold;
}

.song-like-btn {
    font-size: 35px;
    margin-left: 30px;
}

.song-play-btn {
    font-size: 35px;
    margin-left: 1em;
}

.song-play-btn i {
    transition: color 250ms ease-in-out;
}

.song-play-btn i:hover {
    color: var(--clr-aqua);
}

/*

.logo{
    display: flex;
    align-items: center;
    gap: 6px;
}

.logo i{
    font-size: 24px;
    transition: all 0.3s ease;
}

.logo a{
    font-weight: bold;
    transition: all 0.3s ease;
}

.container .sidebar .logo a:hover,
.container .sidebar .menu ul li:hover a,
.container .sidebar .menu ul li:hover i,
.container main header .nav-links a:hover{
    color: #c622ce;
}

.container .sidebar .menu h5{
    color: #919191;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.container .sidebar .menu ul{
    list-style: none;
}

.container .sidebar .menu ul li{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

.container .sidebar .menu ul li a{
    font-size: 20px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.main {
    background: white;
}

 */

